<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Input</th>
      <th>Output</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td>DatePipe</td>
      <td>{{ date }}</td>
      <td>{{ date | date: "fullDate" }}</td>
    </tr>
    <tr>
      <td scope="row">2</td>
      <td>Uppercase</td>
      <td>{{ text }}</td>
      <td>{{ text | uppercase }}</td>
    </tr>
    <tr>
      <td scope="row">3</td>
      <td>Lowercase</td>
      <td>{{ text }}</td>
      <td>{{ text | lowercase }}</td>
    </tr>
    <tr>
      <td scope="row">4</td>
      <td>Custompipes</td>
      <td>{{ text }}</td>
      <td>{{ text | formatString: 0:20 }}</td>
    </tr>
  </tbody>
</table>
